# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
.env*

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Model output
results/
*.ckpt
*.pt
*.pth
*.bin
llama2-finetuned/

# Hugging Face cached models and datasets
.huggingface/
cache/

# Logs
tensorboard_logs/
logs/

# OS files
.DS_Store
Thumbs.db
